body {
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

div {
  font-family: 'Roboto', sans-serif;
}

.nav {
  background-color: white;
  position: absolute;
  width: 100%;
}

.top {
  top: 0;
}

.row {
  height: 32px;
}

.bottom {
  bottom: 0;
}

.logo-container>img {
  height: 30px;
}

.content {
  position: relative;
  width: 300px;
  height: 600px;
  background-color: white;
  margin: auto;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type=text], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #CCCCCC;
  background-color: #f7f8fa;
}

input {
  box-sizing: border-box;
}

.row {
  padding: 5px 15px;
}

.row {
  display: flex;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.static-text {
  flex: 1;
}

.user-input {
  flex: 3;
}

.user-input>input {
  width: 100%;
  line-height: 30px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}

.button-container {
  flex: 1;
}

.active i {
  color: #58B947;
}

.not-active i {
  color: #CCCCCC;
}

.profile-container i {
  color: #BABABA;
}

.vertical-center {
  width: 100%;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

.hidden {
  display: none;
}

.background-green button {
  background-color: #58B947;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  color: white;
  line-height: 32px;
}

.content {
  display: flex;
}
.vertical-center {
  margin:auto;
}
.xx-large {
  height: 130px;
}

.register-container {
  width: 100%;
  text-align: center;
  color: #BABABA;
  font-size: 12px;
}

.register a {
  color: inherit;
}

.x-large {
  height: 100px;
}

.x-large i {
  font-size: 100px;
}
